In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import os

In [10]:
file_name1 = os.path.join("1st quarter 2017.csv" )
file_name2 = os.path.join("2nd quarter 2017.csv" )
file_name3 = os.path.join("3rd quarter 2017.csv" )
file_name4 = os.path.join("4th quarter 2017.csv" )

firstQ = pd.read_csv(file_name1)
secondQ = pd.read_csv(file_name2)
thirdQ = pd.read_csv(file_name3)
fourthQ = pd.read_csv(file_name4)

In [11]:
firstQ.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/2017,16009,50761,206624,1237,33
1,1/2/2017,8921,21545,206675,142,15
2,1/3/2017,14198,25879,206728,42,15
3,1/4/2017,34039,69966,206778,475,29
4,1/5/2017,28393,52446,206845,214,17

In [12]:
secondQ.head()

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,4/1/2017,23849,67299,210739,767,43
1,4/2/2017,39779,130087,210915,3639,58
2,4/3/2017,43484,104217,211075,970,68
3,4/4/2017,29990,63091,211171,183,23
4,4/5/2017,47635,108281,211310,1192,59

In [13]:
#merge tabels
frames = [firstQ, secondQ, thirdQ, fourthQ]

In [14]:
result = pd.concat(frames)

In [15]:
result

,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,1/1/2017,16009,50761,206624,1237,33
1,1/2/2017,8921,21545,206675,142,15
2,1/3/2017,14198,25879,206728,42,15
3,1/4/2017,34039,69966,206778,475,29
4,1/5/2017,28393,52446,206845,214,17
5,1/6/2017,24177,48964,206879,157,17
6,1/7/2017,4425,23556,206892,21,4
7,1/8/2017,6417,22756,206907,27,2
8,1/9/2017,15856,35209,206933,30,2
9,1/10/2017,23232,46216,206955,67,12
10,1/11/2017,32419,63099,206981,208,37
11,1/12/2017,39783,84763,207021,479,30
12,1/13/2017,33611,75847,207059,373,43
13,1/14/2017,13819,43090,207087,252,33
14,1/15/2017,17384,50738,207120,476,19
15,1/16/2017,24110,51664,207163,448,30
16,1/17/2017,18646,40697,207198,63,15
17,1/18/2017,30857,57978,207224,146,17
18,1/19/2017,36561,72077,207262,391,27
19,1/20/2017,26752,56479,207288,184,19
20,1/21/2017,26610,64662,207336,957,31
21,1/22/2017,20523,49368,207368,520,25
22,1/23/2017,15822,37687,207399,54,20
23,1/24/2017,13171,35619,207414,28,5
24,1/25/2017,36931,71418,207453,301,29
25,1/26/2017,33002,63750,207501,223,28
26,1/27/2017,32394,70189,207540,231,23
27,1/28/2017,21302,53955,207567,402,25
28,1/29/2017,22527,62854,207620,585,26
29,1/30/2017,29616,59975,207673,163,32
...,...,...,...,...,...,...
62,12/2/2017,38922,83660,252514,1513,100
63,12/3/2017,33728,77915,252561,1037,66
64,12/4/2017,49630,92142,252618,649,63
65,12/5/2017,41792,85008,252686,381,57
66,12/6/2017,46335,87328,252724,368,55
67,12/7/2017,45367,94653,252761,427,65
68,12/8/2017,41330,81217,252791,443,58
69,12/9/2017,10804,20955,252811,112,15
70,12/10/2017,19815,43621,252830,287,26
71,12/11/2017,41838,81071,252869,456,38
72,12/12/2017,42620,88499,252915,262,42
73,12/13/2017,32623,60051,252942,155,20
74,12/14/2017,27494,49648,252960,134,10
75,12/15/2017,22944,41598,252980,130,9
76,12/16/2017,19060,38766,252992,240,24
77,12/17/2017,22403,49790,253011,343,27
78,12/18/2017,40168,79914,253054,409,34
79,12/19/2017,49503,97301,253087,541,42
80,12/20/2017,41461,78833,253142,422,40
81,12/21/2017,37592,70297,253180,386,47
82,12/22/2017,34338,62387,253212,506,23
83,12/23/2017,9608,24205,253228,112,10
84,12/24/2017,13215,37985,253250,492,39
85,12/25/2017,6479,26767,253293,439,27
86,12/26/2017,14113,32919,253324,220,29
87,12/27/2017,16365,31793,253346,234,33
88,12/28/2017,13419,34438,253365,121,17
89,12/29/2017,13759,29284,253395,177,17
90,12/30/2017,5956,13910,253407,53,10
91,12/31/2017,6569,18326,253443,94,2

In [16]:
result.to_csv("All Quarters 2017.csv")

In [34]:
 file_name20 = os.path.join("All Quarters 2017.csv" )
all_quarters = pd.read_csv(file_name20)

In [36]:
all_quarters.head()

,Unnamed: 0,Date,Trips over the past 24-hours (midnight to 11:59pm),Miles traveled today (midnight to 11:59 pm),Total Annual Members (All Time),24-Hour Passes Purchased (midnight to 11:59 pm),3-Day Passes Purchased (midnight to 11:59 pm)
0,0,1/1/2017,16009,50761,206624,1237,33
1,1,1/2/2017,8921,21545,206675,142,15
2,2,1/3/2017,14198,25879,206728,42,15
3,3,1/4/2017,34039,69966,206778,475,29
4,4,1/5/2017,28393,52446,206845,214,17

In [22]:
file_name5 = os.path.join("JC-201701-citibike-tripdata.csv" )
file_name6 = os.path.join("JC-201702-citibike-tripdata.csv" )
file_name7 = os.path.join("JC-201703-citibike-tripdata.csv" )
file_name8 = os.path.join("JC-201704-citibike-tripdata.csv" )
file_name9 = os.path.join("JC-201705-citibike-tripdata.csv" )
file_name10 = os.path.join("JC-201706-citibike-tripdata.csv" )
file_name11 = os.path.join("JC-201707-citibike-tripdata.csv" )
file_name12 = os.path.join("JC-201708 citibike-tripdata.csv" )
file_name13 = os.path.join("JC-201709-citibike-tripdata.csv" )
file_name14 = os.path.join("JC-201710-citibike-tripdata.csv" )
file_name15 = os.path.join("JC-201711-citibike-tripdata.csv" )
file_name16 = os.path.join("JC-201712-citibike-tripdata.csv" )

january_trip_data = pd.read_csv(file_name5)
february_trip_data = pd.read_csv(file_name6)
march_trip_data = pd.read_csv(file_name7)
april_trip_data = pd.read_csv(file_name8)
may_trip_data = pd.read_csv(file_name9)
june_trip_data = pd.read_csv(file_name10)
july_trip_data = pd.read_csv(file_name11)
august_trip_data = pd.read_csv(file_name12)
september_trip_data = pd.read_csv(file_name13)
october_trip_data = pd.read_csv(file_name14)
november_trip_data = pd.read_csv(file_name15)
december_trip_data = pd.read_csv(file_name16)

In [24]:
january_trip_data.head()

,Trip Duration,Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,End Station Latitude,End Station Longitude,Bike ID,User Type,Birth Year,Gender
0,148,2017-01-01 00:21:32,2017-01-01 00:24:01,3276,Marin Light Rail,40.714584,-74.042817,3185,City Hall,40.717733,-74.043845,24575,Subscriber,1983.0,1
1,1283,2017-01-01 00:24:35,2017-01-01 00:45:58,3183,Exchange Place,40.716247,-74.033459,3198,Heights Elevator,40.748716,-74.040443,24723,Subscriber,1978.0,1
2,372,2017-01-01 00:38:19,2017-01-01 00:44:31,3183,Exchange Place,40.716247,-74.033459,3211,Newark Ave,40.721525,-74.046305,24620,Subscriber,1989.0,1
3,1513,2017-01-01 00:38:37,2017-01-01 01:03:50,3194,McGinley Square,40.725340,-74.067622,3271,Danforth Light Rail,40.692640,-74.088012,24668,Subscriber,1961.0,1
4,639,2017-01-01 01:47:52,2017-01-01 01:58:31,3183,Exchange Place,40.716247,-74.033459,3203,Hamilton Park,40.727596,-74.044247,26167,Subscriber,1993.0,1

In [25]:
#merge tabels
framesII = [january_trip_data, february_trip_data, march_trip_data, april_trip_data,
           may_trip_data, june_trip_data, july_trip_data, august_trip_data,
           september_trip_data, october_trip_data, november_trip_data, december_trip_data]

In [26]:
resultII = pd.concat(framesII)

In [27]:
resultII.to_csv("Trip History 2017.csv")

In [31]:
 file_name17 = os.path.join("Trip History 2017.csv" )
 trip_history = pd.read_csv(file_name17)

In [32]:
trip_history

,Unnamed: 0,Bike ID,Birth Year,End Station ID,End Station Latitude,End Station Longitude,End Station Name,Gender,Start Station ID,Start Station Latitude,Start Station Longitude,Start Station Name,Start Time,Stop Time,Trip Duration,User Type
0,0,24575,1983.0,3185,40.717733,-74.043845,City Hall,1,3276,40.714584,-74.042817,Marin Light Rail,1/1/2017 0:21,1/1/2017 0:24,148,Subscriber
1,1,24723,1978.0,3198,40.748716,-74.040443,Heights Elevator,1,3183,40.716247,-74.033459,Exchange Place,1/1/2017 0:24,1/1/2017 0:45,1283,Subscriber
2,2,24620,1989.0,3211,40.721525,-74.046305,Newark Ave,1,3183,40.716247,-74.033459,Exchange Place,1/1/2017 0:38,1/1/2017 0:44,372,Subscriber
3,3,24668,1961.0,3271,40.692640,-74.088012,Danforth Light Rail,1,3194,40.725340,-74.067622,McGinley Square,1/1/2017 0:38,1/1/2017 1:03,1513,Subscriber
4,4,26167,1993.0,3203,40.727596,-74.044247,Hamilton Park,1,3183,40.716247,-74.033459,Exchange Place,1/1/2017 1:47,1/1/2017 1:58,639,Subscriber
5,5,24604,1970.0,3270,40.725289,-74.045572,Jersey & 6th St,1,3186,40.719586,-74.043117,Grove St PATH,1/1/2017 1:56,1/1/2017 2:00,258,Subscriber
6,6,24641,1978.0,3206,40.731169,-74.057574,Hilltop,1,3270,40.725289,-74.045572,Jersey & 6th St,1/1/2017 2:12,1/1/2017 2:23,663,Subscriber
7,7,24513,1970.0,3213,40.718489,-74.047727,Van Vorst Park,1,3192,40.711242,-74.055701,Liberty Light Rail,1/1/2017 2:15,1/1/2017 2:25,567,Subscriber
8,8,24463,1967.0,3213,40.718489,-74.047727,Van Vorst Park,2,3192,40.711242,-74.055701,Liberty Light Rail,1/1/2017 2:16,1/1/2017 2:25,551,Subscriber
9,9,24486,1984.0,3225,40.723659,-74.064194,Baldwin at Montgomery,1,3212,40.734786,-74.050444,Christ Hospital,1/1/2017 2:22,1/1/2017 2:31,573,Subscriber
10,10,24520,1987.0,3225,40.723659,-74.064194,Baldwin at Montgomery,2,3212,40.734786,-74.050444,Christ Hospital,1/1/2017 2:22,1/1/2017 2:31,535,Subscriber
11,11,24512,1984.0,3203,40.727596,-74.044247,Hamilton Park,2,3186,40.719586,-74.043117,Grove St PATH,1/1/2017 2:23,1/1/2017 2:27,224,Subscriber
12,12,24513,1985.0,3202,40.727224,-74.033759,Newport PATH,1,3213,40.718489,-74.047727,Van Vorst Park,1/1/2017 2:33,1/1/2017 3:01,1699,Subscriber
13,13,24409,1964.0,3209,40.724176,-74.050656,Brunswick St,2,3186,40.719586,-74.043117,Grove St PATH,1/1/2017 2:37,1/1/2017 2:43,350,Subscriber
14,14,24513,1985.0,3186,40.719586,-74.043117,Grove St PATH,1,3202,40.727224,-74.033759,Newport PATH,1/1/2017 3:09,1/1/2017 3:14,346,Subscriber
15,15,24699,1989.0,3267,40.712419,-74.038526,Morris Canal,1,3187,40.721124,-74.038051,Warren St,1/1/2017 3:16,1/1/2017 3:22,367,Subscriber
16,16,24513,1985.0,3213,40.718489,-74.047727,Van Vorst Park,1,3186,40.719586,-74.043117,Grove St PATH,1/1/2017 3:24,1/1/2017 3:26,148,Subscriber
17,17,24442,1986.0,3213,40.718489,-74.047727,Van Vorst Park,1,3203,40.727596,-74.044247,Hamilton Park,1/1/2017 3:52,1/1/2017 3:55,204,Subscriber
18,18,26281,NaN,3186,40.719586,-74.043117,Grove St PATH,0,3275,40.718355,-74.038914,Columbus Drive,1/1/2017 4:35,1/1/2017 13:57,33726,Customer
19,19,26194,NaN,3186,40.719586,-74.043117,Grove St PATH,0,3275,40.718355,-74.038914,Columbus Drive,1/1/2017 4:35,1/1/2017 4:45,591,Customer
20,20,24555,1972.0,3202,40.727224,-74.033759,Newport PATH,2,3183,40.716247,-74.033459,Exchange Place,1/1/2017 5:17,1/1/2017 5:25,454,Subscriber
21,21,24408,1987.0,3225,40.723659,-74.064194,Baldwin at Montgomery,1,3195,40.730743,-74.063784,Sip Ave,1/1/2017 5:25,1/1/2017 5:29,217,Subscriber
22,22,24681,1964.0,3211,40.721525,-74.046305,Newark Ave,1,3186,40.719586,-74.043117,Grove St PATH,1/1/2017 6:29,1/1/2017 6:31,107,Subscriber
23,23,26163,1983.0,3193,40.724605,-74.078406,Lincoln Park,1,3195,40.730743,-74.063784,Sip Ave,1/1/2017 7:08,1/1/2017 7:15,453,Subscriber
24,24,26431,1986.0,3193,40.724605,-74.078406,Lincoln Park,1,3195,40.730743,-74.063784,Sip Ave,1/1/2017 7:12,1/1/2017 7:20,447,Subscriber
25,25,24495,1962.0,3195,40.730743,-74.063784,Sip Ave,1,3281,40.745910,-74.057271,Leonard Gordon Park,1/1/2017 7:38,1/1/2017 7:51,730,Subscriber
26,26,24390,1986.0,3186,40.719586,-74.043117,Grove St PATH,1,3192,40.711242,-74.055701,Liberty Light Rail,1/1/2017 7:55,1/1/2017 8:02,435,Subscriber
27,27,26255,1992.0,3280,40.719282,-74.071262,Astor Place,1,3195,40.730743,-74.063784,Sip Ave,1/1/2017 8:16,1/1/2017 8:24,458,Subscriber
28,28,26308,1977.0,3211,40.721525,-74.046305,Newark Ave,1,3186,40.719586,-74.043117,Grove St PATH,1/1/2017 8:24,1/1/2017 8:28,258,Subscriber
29,29,26234,1983.0,3210,40.742677,-74.051789,Pershing Field,1,3196,40.744319,-74.043991,Riverview Park,1/1/2017 8:56,1/1/2017 9:05,537,Subscriber
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
294898,15868,31716,1957.0,3272,40.723332,-74.045953,Jersey & 3rd,1,3186,40.719586,-74.043117,Grove St PATH,12/31/2017 18:22,12/31/2017 18:25,200,Subscriber
294899,15869,31772,1982.0,3203,40.727596,-74.044247,Hamilton Park,1,3211,40.721525,-74.046305,Newark Ave,12/31/2017 18:29,12/31/2017 18:38,521,Subscriber
294900,15870,31716,1957.0,3186,40.719586,-74.043117,Grove St PATH,1,3272,40.723332,-74.045953,Jersey & 3rd,12/31/2017 18:33,12/31/2017 18:45,690,Subscriber
294901,15871,31840,1979.0,3211,40.721525,-74.046305,Newark Ave,1,3278,40.725685,-74.048790,Monmouth and 6th,12/31/2017 18:52,12/31/2017 18:55,179,Subscriber
294902,15872,31766,1983.0,3207,40.737604,-74.052478,Oakland Ave,1,3210,40.742677,-74.051789,Pershing Field,12/31/2017 18:55,12/31/2017 19:13,1084,Subscriber
294903,15873,29590,1994.0,3186,40.719586,-74.043117,Grove St PATH,1,3209,40.724176,-74.050656,Brunswick St,12/31/2017 19:00,12/31/2017 19:03,227,Subscriber
294904,15874,31861,1999.0,3183,40.716247,-74.033459,Exchange Place,1,3184,40.714145,-74.033552,Paulus Hook,12/31/2017 19:10,12/31/2017 19:12,141,Subscriber
294905,15875,31929,1992.0,3183,40.716247,-74.033459,Exchange Place,1,3199,40.728745,-74.032108,Newport Pkwy,12/31/2017 19:28,12/31/2017 19:35,432,Subscriber
294906,15876,31760,1953.0,3481,40.716490,-74.041050,York St,2,3280,40.719282,-74.071262,Astor Place,12/31/2017 19:30,12/31/2017 19:48,1090,Subscriber
294907,15877,31808,1960.0,3481,40.716490,-74.041050,York St,1,3280,40.719282,-74.071262,Astor Place,12/31/2017 19:31,12/31/2017 19:49,1084,Subscriber
294908,15878,31940,1994.0,3195,40.730743,-74.063784,Sip Ave,1,3225,40.723659,-74.064194,Baldwin at Montgomery,12/31/2017 20:00,12/31/2017 20:04,262,Subscriber
294909,15879,26212,1976.0,3203,40.727596,-74.044247,Hamilton Park,1,3225,40.723659,-74.064194,Baldwin at Montgomery,12/31/2017 20:08,12/31/2017 20:18,598,Subscriber
294910,15880,32795,1978.0,3640,40.733670,-74.062500,Journal Square,1,3281,40.745910,-74.057271,Leonard Gordon Park,12/31/2017 20:16,12/31/2017 20:24,455,Subscriber
294911,15881,31938,1987.0,3185,40.717733,-74.043845,City Hall,2,3278,40.725685,-74.048790,Monmouth and 6th,12/31/2017 20:25,12/31/2017 20:31,358,Subscriber
294912,15882,29604,1986.0,3185,40.717733,-74.043845,City Hall,1,3278,40.725685,-74.048790,Monmouth and 6th,12/31/2017 20:25,12/31/2017 20:31,354,Subscriber
294913,15883,31833,1982.0,3279,40.721630,-74.049968,Dixon Mills,1,3279,40.721630,-74.049968,Dixon Mills,12/31/2017 20:25,12/31/2017 20:31,387,Subscriber
294914,15884,31920,1981.0,3186,40.719586,-74.043117,Grove St PATH,2,3278,40.725685,-74.048790,Monmouth and 6th,12/31/2017 20:27,12/31/2017 20:31,259,Subscriber
294915,15885,31716,1974.0,3481,40.716490,-74.041050,York St,1,3186,40.719586,-74.043117,Grove St PATH,12/31/2017 20:28,12/31/2017 20:30,142,Subscriber
294916,15886,29622,1980.0,3186,40.719586,-74.043117,Grove St PATH,2,3278,40.725685,-74.048790,Monmouth and 6th,12/31/2017 20:30,12/31/2017 20:35,288,Subscriber
294917,15887,29634,1990.0,3195,40.730743,-74.063784,Sip Ave,1,3194,40.725340,-74.067622,McGinley Square,12/31/2017 20:33,12/31/2017 20:37,207,Subscriber
294918,15888,31918,1960.0,3193,40.724605,-74.078406,Lincoln Park,1,3267,40.712419,-74.038526,Morris Canal,12/31/2017 20:35,12/31/2017 21:01,1525,Subscriber
294919,15889,31709,1983.0,3195,40.730743,-74.063784,Sip Ave,1,3203,40.727596,-74.044247,Hamilton Park,12/31/2017 20:57,12/31/2017 21:08,672,Subscriber
294920,15890,31762,1991.0,3202,40.727224,-74.033759,Newport PATH,1,3639,40.719252,-74.034234,Harborside,12/31/2017 21:06,12/31/2017 21:12,345,Subscriber
294921,15891,26212,1976.0,3213,40.718489,-74.047727,Van Vorst Park,1,3203,40.727596,-74.044247,Hamilton Park,12/31/2017 21:38,12/31/2017 21:42,267,Subscriber
294922,15892,31767,1982.0,3203,40.727596,-74.044247,Hamilton Park,1,3186,40.719586,-74.043117,Grove St PATH,12/31/2017 21:45,12/31/2017 21:50,339,Subscriber
294923,15893,29644,1987.0,3186,40.719586,-74.043117,Grove St PATH,2,3191,40.718211,-74.083639,Union St,12/31/2017 21:54,12/31/2017 22:10,972,Subscriber
294924,15894,31799,1994.0,3268,40.713464,-74.062859,Lafayette Park,1,3280,40.719282,-74.071262,Astor Place,12/31/2017 22:10,12/31/2017 22:16,382,Subscriber
294925,15895,31920,1957.0,3185,40.717733,-74.043845,City Hall,1,3186,40.719586,-74.043117,Grove St PATH,12/31/2017 22:55,12/31/2017 22:56,93,Subscriber
294926,15896,31925,1964.0,3211,40.721525,-74.046305,Newark Ave,1,3270,40.725289,-74.045572,Jersey & 6th St,12/31/2017 23:20,12/31/2017 23:24,186,Subscriber
294927,15897,31709,1979.0,3280,40.719282,-74.071262,Astor Place,1,3195,40.730743,-74.063784,Sip Ave,12/31/2017 23:33,12/31/2017 23:40,422,Subscriber

In [33]:
trip_history.count()

Unnamed: 0                 294928
Bike ID                    294928
Birth Year                 275313
End Station ID             294928
End Station Latitude       294928
End Station Longitude      294928
End Station Name           294928
Gender                     294928
Start Station ID           294928
Start Station Latitude     294928
Start Station Longitude    294928
Start Station Name         294928
Start Time                 294928
Stop Time                  294928
Trip Duration              294928
User Type                  294811
dtype: int64